*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --hue: 200;
  --saturation: 50%;
  --foreground-color: hsl(var(--hue), var(--saturation), 75%);
  --background-color: hsl(var(--hue), var(--saturation), 20%);
}

body {
  margin: 0;
  background-color: var(--background-color);
  overflow: hidden;
  font-family: "Fredoka";
}

.heading {
  text-align: center;
  font-size: 10rem;
  font-family: "Fredoka";
  color: var(--foreground-color);
}

.paddle {
  --position: 50;

  position: absolute;
  background-color: var(--foreground-color);
  top: calc(var(--position) * 1vh);
  transform: translateY(-50%);
  width: 1vh;
  height: 10vh;
}

.paddle.left {
  left: 1vw;
}

.paddle.right {
  right: 1vw;
}

.ball {
  --x: 50;
  --y: 50;

  position: absolute;
  background-color: yellow;
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 255, 0, 1) 59%,
    rgba(0, 212, 255, 1) 100%
  ); */
  left: calc(var(--x) * 1vw);
  top: calc(var(--y) * 1vh);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  width: 2.5vh;
  height: 2.5vh;
}

.score {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 7vh;
  color: var(--foreground-color);
}

.score > * {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 2vh;
  margin: 1vh 0;
  opacity: 0.5;
}

.score > :first-child {
  text-align: right;
  border-right: 0.5vh solid var(--foreground-color);
}

button {
  border: none;
  padding: 1rem 1rem;
  margin: auto;
  border-radius: 2rem;
  font-family: "Fredoka";
  font-size: 1rem;
}

button#pauseButton {
  background-color: var(--foreground-color);
  color: var(--background-color);
  cursor: pointer;
  display: flex;
}
